<!DOCTYPE html>
<html>
    <head>
        <title>The Hospo Webapp</title>
    </head>
    <body>
        <h1><%= @patient.name %>.</h1>
        <ul>
        <% @patient.appointments.each do |app| %>
            <li><%= link_to app.appointment_datetime.strftime("%B %d, %Y at %H:%M"), appointment_path(app) %> with <%= link_to app.doctor.name, doctor_path(app.doctor) %></li>
        <% end %>
        </ul>
    </body>
</html> 